{% extends 'admin/include/header.twig' %}

{% block body %}

    <h1>Edycja użytkownika</h1>

    {% autoescape %}
        {{ validation|raw }}
    {% endautoescape %}
    <form class="add_user" action="{{ base_url() }}admin/users/edit/{{ edit_user.id }}" method="POST" id="add_user">

        <div class="form-group">
            <label for="Login">Login</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Podaj Login...." value="{{ edit_user.username }}">
        </div>
        <div class="form-group">
            <label for="Password">Hasło</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Podaj hasło...">
        </div>
        <div class="form-group">
            <label for="retry_password">Powtórz hasło</label>
            <input type="password" class="form-control" id="password_retry" name="password_retry" placeholder="Powtórz hasło..." >
        </div>
        <div class="form-group">
            <label for="emial">Adres e-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Podaj email..." value="{{ edit_user.email }}">
        </div>
        <div class="form-group">
            <label for="user_group">Grupa użytkownika</label>
            <select class="form-control" name="group">
                <option value="0">-</option>

                {% for groups in group %}

                    <option value="{{ groups.id }}" {% if group_id == groups.id %} selected="selected" {% endif %}>{{ groups.name }}</option>

                {% endfor %}


            </select>
        </div>
        <button type="submit" class="btn btn-default" id="add_user_button">Edytuj użytkownika</button>

    </form>




{% endblock %}

{% block javascripts %}
    <script>

        $("input").on("blur",function () {
            if($('#'+this.id).val()==""){
                console.log("wartosc jest pusta "+ this.id);
                $('#'+this.id+'_alert').remove();
                $('#'+this.id).after('<div id="'+this.id+'_alert" class="alert alert-warning">Musisz uzupełnić te pole</div>');
                $('button').attr("disabled", true);
            }else{
                $('#'+this.id+'_alert').remove();
                $('button').attr("disabled", false);
                console.log("OK");
            }
        })

        $("form").submit(function () {
            if($('#username').val()=="" )
            {
                $('#add_user_button_alert').remove();
                $('#add_user_button').after('<div id="add_user_button_alert" class="alert alert-danger">Musisz uzupełnić wymagane pola</div>');
                return false;
            }
            else {
                return true;
            }

        });


    </script>

{% endblock %}