{% extends 'admin/include/header.twig' %}

{% block body %}

    <h1>Lista użytkownikow</h1>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Login</th>
        <th>Adres e-mail</th>
        <th>Data utworzenia</th>
        <th>Grupa użytkowników</th>
        <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}

        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.create_date }}</td>
            {% for user_group in user_groups %}

                {% if user.id == user_group.user_id %}
                    <td>{{ groups_id_name_arr[user_group.group_id]}}</td>
                {% endif %}

            {% endfor %}
            <td>
                <a href="{{ base_url() }}admin/users/edit/{{ user.id }}"> <button type="button" class="btn btn-info">Edytuj</button></a>
                {% if group != 1 %}
                <a href="{{ base_url() }}admin/users/delete/{{ user.id }}" onclick="return confirm('Czy na pewno chcesz usunąć uzytkownika?')"><button type="button" class="btn btn-danger" id="delete_user">Usuń</button></a>
                {% endif %}
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>

   <a href="{{ base_url() }}admin/users/create_user"> <button type="button" class="btn btn-primary">Dodaj użytkownika</button> </a>

{% endblock %}
