{% extends 'admin/include/header.twig' %}

{% block body %}

    <h1>Edycja grupy</h1>

    {% autoescape %}
        {{ validation|raw }}
    {% endautoescape %}
    <form class="edit_group" action="{{ base_url() }}admin/groups/edit/{{ edit_group.id }}" method="POST" id="edit_group">

        <div class="form-group">
            <label for="name">Nazwa grupy</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Podaj nazwe grupy...." value="{{ edit_group.name }}">
        </div>
        <div class="form-group">
            <label for="Password">alias</label>
            <input type="text" class="form-control" id="alias" name="alias" placeholder="Podaj alias..." value="{{ edit_group.alias }}">
        </div>
        <button type="submit" class="btn btn-default" id="add_user_button">Edytuj użytkownika</button>

    </form>




{% endblock %}

{% block javascripts %}
    <script>

        $("input").on("blur",function () {
            if($('#'+this.id).val()==""){
                console.log("wartosc jest pusta "+ this.id);
                $('#'+this.id+'_alert').remove();
                $('#'+this.id).after('<div id="'+this.id+'_alert" class="alert alert-warning">Musisz uzupełnić te pole</div>');
                $('button').attr("disabled", true);
            }else{
                $('#'+this.id+'_alert').remove();
                $('button').attr("disabled", false);
                console.log("OK");
            }
        })

        $("form").submit(function () {
            if($('#username').val()=="" )
            {
                $('#add_user_button_alert').remove();
                $('#add_user_button').after('<div id="add_user_button_alert" class="alert alert-danger">Musisz uzupełnić wymagane pola</div>');
                return false;
            }
            else {
                return true;
            }

        });


    </script>

{% endblock %}