{% extends 'admin/include/header.twig' %}

{% block body %}

    <h1>Lista użytkownikow</h1>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Grupa</th>
            <th>Alias</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}

            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ group.name }}</td>
                <td>{{ group.alias }}</td>
                <td>
                    {% if group.alias != admin %}
                        <a href="{{ base_url() }}admin/groups/edit/{{ group.id }}"> <button type="button" class="btn btn-info">Edytuj</button></a>
                        <a href="{{ base_url() }}admin/groups/delete/{{ group.id }}" onclick="return confirm('Czy na pewno chcesz usunąć uzytkownika?')"><button type="button" class="btn btn-danger" id="delete_group">Usuń</button></a>
                    {% endif %}

                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a href="{{ base_url() }}admin/groups/create_groups"> <button type="button" class="btn btn-primary">Dodaj grupe</button> </a>

{% endblock %}
